body {
  background-color: black;
}

.App {
  border: 10px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 30px;
  background-color: rgb(168, 168, 168);
  color: rgb(31, 30, 30);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.main-pic {
  border-radius: 50%;
  width: 200px;
  height: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.padding-top {
  margin: 10px 0 0;
}

.transaction-title {
  font-weight: 100;
}

.transaction {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  border: 5px;
  border-style: solid;
  border-color: rgb(24, 24, 24);
  border-radius: 5px;
  width: 200px;
}

.company-name {
  padding: 0 20px 0 5px;
  font-weight: 600;
  font-size: large;
}

.amount {
  padding: 0 5px 0 20px;
  font-size: large;
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  color: rgb(172, 172, 172);
  font-weight: 800;
}

.payment-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  border: 3px;
  border-style: solid;
}

.dual {
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.direction {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.direction-btn {
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: black;
  color: rgb(172, 172, 172);
  font-weight: 800;
  width: 180px;
}
